<!DOCUMENT html>
<html>
<head>
  <meta content="no-cache">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<!--  <script src="js/script.js"></script>
-->
</head>
<body>
<p>С Новым Веселым Годом!</p>

<h2>Статьи</h2>

<ul id="m_art">
<!--
    <script type="text/javascript">
        
    </script>
    <% drinks.forEach(function(drink) { %>
        <li><%= drink.name %> - <%= drink.drunkness %></li>
    <% }); %>
-->
</ul>

<iframe src="javascript:'тест'" style="height:60px"></iframe>

<script>
    alert("Проба js!11111");
  var iframe = document.getElementsByTagName('iframe')[0];

  var iframeDoc = iframe.contentWindow.document;
alert("Проба js!22222");
  if (iframeDoc.readyState == 'complete') {
    iframeDoc.body.style.backgroundColor = 'green';
  }
alert("Проба js!3333");  
  iframe.onload = function() {
    var iframeDoc2 = iframe.contentWindow.document;
    alert(iframeDoc2.body.style.backgroundColor);  
    iframeDoc2.body.style.backgroundColor = 'orange';
  }
  alert("Проба js!4444");
</script>
<!--
<script src="js/script.js"></script>
-->
</body>
</html>
