<!DOCUMENT html>
<html>
<head>
  <meta content="no-cache">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
<!--  <script src="js/script.js"></script>
-->
</head>
<body>
<p>С Новым Веселым Годом!</p>

<h2>Статьи</h2>

<ul id="m_art">
<!--
    <script type="text/javascript">
        
    </script>
    <% drinks.forEach(function(drink) { %>
        <li><%= drink.name %> - <%= drink.drunkness %></li>
    <% }); %>
-->
</ul>

<iframe src="javascript:'тест'" style="height:60px"></iframe>

<script>
  var iframe = document.getElementsByTagName('iframe')[0];

  var iframeDoc = iframe.contentWindow.document;

  if (iframeDoc.readyState == 'complete') {
    iframeDoc.body.style.backgroundColor = 'green';
  }
  iframe.onload = function() {
    var iframeDoc2 = iframe.contentWindow.document;
    iframeDoc2.body.style.backgroundColor = 'orange';
  }
</script>
<script src="js/script.js"></script>
</body>
</html>
