.wiki-contents {
    background: red fixed;
    width: 20%;
    float: left;
    font-size: medium;
}

.wiki-article {
  background: green fixed;
  // width: 80%;
  display: inline-block;
}

.container_wiki {
  display: flow-root;
}
